/*Navbar*/

.nav-link {
    font-size: 125%;
    color: rgba(50, 150, 180, 1.0) !important;
}

.hr-light {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(100,100,100,0), rgba(100,100,100,0.75), rgba(100,100,100,0));
}

.blue-text {
    color: rgba(50, 150, 180, 1.0);
}

.main-icon {
    color: rgba(50, 150, 180, 1.0);
}

.larger-spacing {
    letter-spacing: 0.4rem;
}

.medium-spacing {
    letter-spacing: 0.2rem;
}

.small-spacing {
    letter-spacing: 0.1rem;
}

.slightly-larger {
    font-size: 120%;
}

.larger-text {
    font-size: 3.0rem;
}

.squeezed {
    transform: scale(1, 0.85);
}

.font-light {
    font-weight: 100 !important;
}

.font-medium {
    font-weight: 200 !important;
}

.btn-primary {
    background-color: rgba(66, 199, 245, 1.0);
    border: 1px solid rgba(66, 199, 245, 1.0);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: rgba(66, 199, 245, 1.0);
    background-color: #fff;
    border: 1px solid rgba(66, 199, 245, 1.0);
    font-weight: 300 !important;
}

.btn-outline-info {
    color: rgba(50, 150, 180, 1.0);
    border: 1px solid rgba(50, 150, 180, 1.0);
    background-color: #fff;
}

.btn-outline-info:hover, .btn-outline-info:active, .btn-outline-info:focus {
    background-color: rgba(50, 150, 180, 1.0);
    border: 1px solid rgba(50, 150, 180, 1.0);
    color: #fff;
}

.button-xl {
    font-size: 1.6rem;
}

.info-link {
    color: rgba(50, 150, 180, 1.0);
}

.card-header, .modal-header {
    background-color: rgba(50, 150, 180, 0.1);
}

/*Animations*/

.fade-in-text {
    opacity: 1.0;
    animation: fadeIn ease 2.5s;
    -webkit-animation: fadeIn ease 2.5s;
}

.fade-in-text-slower {
    opacity: 1.0;
    animation: fadeIn ease 3.5s;
    -webkit-animation: fadeIn ease 3.5s;
}

.fade-in-text-slowest {
    opacity: 1.0;
    animation: fadeIn ease 4.5s;
    -webkit-animation: fadeIn ease 4.5s;
}
    
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/*Media Queries*/

@media screen and (max-width: 630px) {

    .navbar-brand {
        margin-left: auto !important; 
        margin-right: auto !important; 
        padding-left: auto !important; 
        padding-right: auto !important; 
    }

    .navbar-toggler {
        width: 97%; 
        margin-left: auto !important; 
        margin-right: auto !important; 
        margin-bottom: 5px; 
    }

}

@media screen and (max-width: 515px) {
    .navbar-brand span {
        font-size: 2.0rem !important;
    }
}

@media screen and (max-width: 410px) {
    .navbar-brand span {
        font-size: 1.65rem !important;
    }
}

@media screen and (max-width: 350px) {
    .navbar-brand span {
        font-size: 1.1rem !important;
    }

    .main-icon {
        display: none;
    }
}